.category_list {
	list-style: none;
}

.category_list a {
	cursor: pointer;
}

.category_add-item {
	display: flex;
	flex-direction: row;
}

.category_add-item input[type="text"] {
	width: 75%;
	font-family: "TomsHandwritten";
	font-size: 1em;
	color: #6A6A6A;
	padding-left: 5px;
	border: 1.5px solid #6A6A6A;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.category_add-item input[type="submit"] {
	width: 25%;
	font-family: "TomsHandwritten";
	font-size: 1em;
	color: #6A6A6A;
	background-color: #fff;
	border: 1.5px solid #6A6A6A;
	border-left: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}


.category_list-item {
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
	align-items: flex-start;
	/* align-items: center; */
	border: 1.5px solid #6A6A6A;
	border-bottom: none;
	padding: 2px 5px;
}

.category_list-item:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.category_list-item:last-child {
	border-bottom: 1.5px solid #6A6A6A;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.category_list-item button {
	margin: 1px 1px 0;
	border: 1px solid #CCCCCC; 
	border-radius: 5px;
	background-color: #fff;
	cursor: pointer;
}

.category_list-item button:focus {
	outline: 1.5px solid #00aff0;
	-moz-outline-radius: 5px;
}

.category_list-item button i {
	margin: 5px 0;
}

.category_list-item__title {
	align-self: center;
	flex-grow: 2;
	margin: 2px 10px 0;
	line-height: 80%;
	word-break: break-all;
}

.category_list-item__add {
	/* margin-left: 5px; */
} 

