.category_add-item {
	display: flex;
	flex-direction: row;
}

.category_add-item input[type="text"] {
	width: 75%;
	font-family: "TomsHandwritten";
	font-size: 1em;
	color: #6A6A6A;
	padding-left: 5px;
	border: 1.5px solid #6A6A6A;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.category_add-item input[type="submit"] {
	width: 25%;
	font-family: "TomsHandwritten";
	font-size: 1em;
	color: #6A6A6A;
	background-color: #fff;
	border: 1.5px solid #6A6A6A;
	border-left: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}