.category_list {
	list-style: none;
}

.category_list a {
	cursor: pointer;
}

.category_list-item {
	border: 1.5px solid #6A6A6A;
	border-bottom: none;
}

.category_list-item:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.category_list-item:last-child {
	border-bottom: 1.5px solid #6A6A6A;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
