.category {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 2px 5px;
}

.category button {
	margin: 1px 1px 0;
	background-color: #fff;
	cursor: pointer;
}

.category button:focus {
	outline: 1.5px solid #00aff0;
	-moz-outline-radius: 5px;
}

.category__down {
	border: none;
}

.category__edit,
.category__delete,
.category__add {
	border: 1px solid #CCCCCC; 
	border-radius: 5px;
}

.category button i {
	margin: 5px 0;
}

.category__title {
	align-self: center;
	flex-grow: 2;
	margin: 2px 10px 0;
	line-height: 80%;
	word-break: break-all;
}
