.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 10px;
  margin-top: -1px;
	border: 1px solid #6A6A6A;
  color: #6A6A6A;
}

.title {
  margin-left: 5%;
}
