.category {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 2px 5px;
	margin-bottom: -1px;
	border: 1px solid #6A6A6A;
}

.category__title {
	align-self: center;
	flex-grow: 2;
	margin: 2px 10px 0;
	line-height: 80%;
	word-break: break-all;
	text-decoration: none;
	color: #00aff0;
	cursor: pointer;
}

.selected {
	background-color: #c6ebf9;
}
