@font-face {
	font-family: "TomsHandwritten";
	src: url("./fonts/TomsHandwritten/TomsHandwritten.eot");
	src: url("./fonts/TomsHandwritten/TomsHandwritten.eot?#iefix")format("embedded-opentype"),
	url("./fonts/TomsHandwritten/TomsHandwritten.woff") format("woff"),
	url("./fonts/TomsHandwritten/TomsHandwritten.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

.app {
  font-family: "TomsHandwritten";
  font-size: 1.5em;
  color: #00aff0;
  margin: 0 2%;
}

.todo {
  display: flex;
  flex-direction: row;
}

.todo__category {
  width: 30%;
}

.todo__tasklist {
  width: 70%;
}

