@font-face {
	font-family: "TomsHandwritten";
	src: url("./fonts/TomsHandwritten/TomsHandwritten.eot");
	src: url("./fonts/TomsHandwritten/TomsHandwritten.eot?#iefix")format("embedded-opentype"),
	url("./fonts/TomsHandwritten/TomsHandwritten.woff") format("woff"),
	url("./fonts/TomsHandwritten/TomsHandwritten.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

.app {
  font-family: "TomsHandwritten";
  /* font-weight: 700; */
  font-size: 1.5em;
  color: #00aff0;
}

.todo {
  display: flex;
  flex-direction: row;
}

.todo__category {
  width: 30%;
  border-right: 1px solid #00aff0;
  /* border: 1px solid black; */
}

.todo__tasklist {
  width: 70%;
  /* border: 1px solid black */
}