@font-face {
	font-family: "TomsHandwritten";
	src: url("./fonts/TomsHandwritten/TomsHandwritten.eot");
	src: url("./fonts/TomsHandwritten/TomsHandwritten.eot?#iefix")format("embedded-opentype"),
	url("./fonts/TomsHandwritten/TomsHandwritten.woff") format("woff"),
	url("./fonts/TomsHandwritten/TomsHandwritten.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

* {
	list-style: none;
	padding: 0;
	margin: 0;
	font-family: "TomsHandwritten";
}
